@inject ExpandedStates ExpandedStates

<MudPaper Elevation="0" Class="px-md-20 px-sm-10 px-5 py-1 py-sm-0" Style="background-color: #EEF0F2;" id="Projects">
  <MudText Color=Color.Primary Typo="Typo.h2" Class="pt-10 pb-4">Projects</MudText>
  <SingleProject projectData="@projectDict[keys[0].Key]" key="@keys[0]"/>

  @if (keys.Count > 1)
  {
    <MudGrid Justify="Justify.Center" Class="pt-10 pb-5" style="@(ExpandedStates.ProjectExpanded ? "display: none" : "display: flex")">
      <MudToggleIconButton
        @bind-Toggled="ExpandedStates.ProjectExpanded"
        Icon="@Icons.Material.Filled.KeyboardArrowDown"
        Size="Size.Large"
        aria-label="Expand project section"
      />
    </MudGrid>
    <MudCollapse Expanded="@ExpandedStates.ProjectExpanded" aria-hidden="@(ExpandedStates.ProjectExpanded ? "false" : "true")">
      <div class="mx-2">
        @for (int i = 1; i < keys.Count; i++)
          {
            int savedI = i;
            <SingleProject projectData="@projectDict[keys[savedI].Key]" key="@keys[savedI]" Disabled="@(!ExpandedStates.ProjectExpanded)"/> 
          }
      </div>
    </MudCollapse>
    <MudGrid Justify="Justify.Center" Class="pt-10 pb-5" style="@(!ExpandedStates.ProjectExpanded ? "display: none" : "display: flex")">
      <MudToggleIconButton
        @bind-Toggled="ExpandedStates.ProjectExpanded"
        Icon="@Icons.Material.Filled.KeyboardArrowUp"
        Size="Size.Large"
        aria-label="Expand project section"
      />
    </MudGrid>
  }
</MudPaper>

@code {
  [Parameter]
  public required Dictionary<string, Project> projectDict { get; set; }

  [Parameter]
  public required List<ProjectKey> keys {get; set;}

  protected override void OnInitialized()
  {
    ExpandedStates.ProjectChange += StateHasChanged;
  }

}