@inject NavigationManager NavManager

<MudCard Elevation="5" id="@experienceData.Key" Class="pb-2 responsive_card">  
  <div class="pa-4">
    <MudText Color=Color.Primary Typo="Typo.h3">@experienceData.ExperienceName</MudText>
    <div style="display: flex; flex-wrap: wrap; justify-content: flex-start; gap: 2vw;">
      <MudText Typo="Typo.subtitle2">
        @(experienceData.BasicInformation.RelatedOrganization + " · " + experienceData.BasicInformation.WorkType)
      </MudText>
      <MudText Typo="Typo.subtitle2">
        @(experienceData.BasicInformation.TimeWorked[0] + " - " + experienceData.BasicInformation.TimeWorked[1])
      </MudText>
      <MudText Typo="Typo.subtitle2">@experienceData.BasicInformation.Location</MudText>
    

      @if (experienceData.SkillsUsed[0].Text != "na")
        {
          <MudStack Row="true" Spacing="2">
            <MudText Typo="Typo.subtitle2"> Skills Used: </MudText>
            @foreach (int i in key.SkillsUsedKeys)
              {
                HyperLink item = experienceData.SkillsUsed[i];
                <AnchorLink Typo="Typo.subtitle2" Href="@item.Link" Color="Color.Primary" Disabled="@Disabled">
                  @item.Text
                </AnchorLink>
              }
          </MudStack>
        }

        @if (experienceData.RelatedWork[0].Text != "na")
        {
          <MudStack Row="true" Spacing="2">
            <MudText Typo="Typo.subtitle2"> Related Work: </MudText>
            @foreach (int i in key.RelatedWorkKeys)
              {
                HyperLink item = experienceData.RelatedWork[i];
                <AnchorLink Typo="Typo.subtitle2" Href="@item.Link" Color="Color.Primary" Disabled="@Disabled">
                  @item.Text
                </AnchorLink>
              }
          </MudStack>
        }
    </div>
    <div Class="pt-1">
      <div Class="conditional_flex">
        <MudImage Src="@experienceData.ImageUrl"
          Class="responsive_image"
          Fluid="true"
          ObjectFit="ObjectFit.Contain"
          Alt=@(experienceData.ImageAlt == "na" ? "" : experienceData.ImageAlt)
        />
      </div>
      @foreach (HyperLink sentence in experienceData.Description)
        {
          <MudStack Row="true" Class="pl-3">
            <MudText Typo="Typo.body1">• </MudText>
            <MudText Typo="Typo.body1">@(sentence.Text)</MudText>
          </MudStack>
        }
    </div>
  </div>

</MudCard>

@code {
  [Parameter]
  public required Experience experienceData {get; set;}

  [Parameter]
  public required ExperienceKey key {get; set;}

  [Parameter]
  public bool Disabled {get; set;}

}