@inject NavigationManager NavManager

<MudCard Style="width: 100%;" Elevation="5" id="@experienceData.Key" Class="pb-2">  
  <div class="pa-4">
    <MudText Color=Color.Primary Typo="Typo.h3">@experienceData.ExperienceName</MudText>
    <div style="display: flex; flex-wrap: wrap; justify-content: flex-start; gap: 2vw;">
      <MudText Typo="Typo.subtitle2">
        @(experienceData.BasicInformation.RelatedOrganization + " · " + experienceData.BasicInformation.WorkType)
      </MudText>
      @* <MudText Typo="Typo.subtitle2" Class="px-3"> | </MudText> *@
      <MudText Typo="Typo.subtitle2">
        @(experienceData.BasicInformation.TimeWorked[0] + " - " + experienceData.BasicInformation.TimeWorked[1])
      </MudText>
      @* <MudText Typo="Typo.subtitle2" Class="px-3"> | </MudText> *@
      <MudText Typo="Typo.subtitle2">@experienceData.BasicInformation.Location</MudText>
    

      @if (experienceData.SkillsUsed[0].Text != "na")
        {
          <MudStack Row="true" Spacing="2">
            @* <MudText Typo="Typo.subtitle2" Class="px-3"> | </MudText> *@
            <MudText Typo="Typo.subtitle2"> Skills Used: </MudText>
            @foreach (int i in key.SkillsUsedKeys)
              {
                HyperLink item = experienceData.SkillsUsed[i];
                <MudLink 
                  Typo="Typo.subtitle2" 
                  Href="@(relativePath + "#" + item.Link)" 
                  Color="Color.Secondary" 
                  @onclick="@(e => (HandleLinkClick(item.Link)))"
                >
                  @item.Text
                </MudLink>
              }
          </MudStack>
        }

        @if (experienceData.RelatedWork[0].Text != "na")
        {
          <MudStack Row="true" Spacing="2">
          @* <MudText Typo="Typo.subtitle2" Class="px-3"> | </MudText> *@
            <MudText Typo="Typo.subtitle2"> Related Work: </MudText>
            @foreach (int i in key.RelatedWorkKeys)
              {
                HyperLink item = experienceData.RelatedWork[i];
                <MudLink 
                  Typo="Typo.subtitle2" 
                  Href="@(relativePath + "#" + item.Link)" 
                  Color="Color.Secondary" 
                  @onclick="@(e => (HandleLinkClick(item.Link)))"
                >
                  @item.Text
                </MudLink>
              }
          </MudStack>
        }
    </div>
    <div Class="pt-1">
      <div Class="conditional_flex">
        <MudImage Src="@experienceData.ImageUrl"
          Class="responsive_image"
          Fluid="true"
          ObjectFit="ObjectFit.Contain"

        />
      </div>
      @foreach (HyperLink sentence in experienceData.Description)
        {
          <MudStack Row="true" Class="pl-3">
            <MudText Typo="Typo.body1">• </MudText>
            <MudText Typo="Typo.body1">@(sentence.Text)</MudText>
          </MudStack>
        }
    </div>
  </div>

</MudCard>

@code {
  [Parameter]
  public required Experience experienceData {get; set;}

  [Parameter]
  public required ExperienceKey key {get; set;}

  private string relativePath = null!;
  protected override void OnInitialized()
  {
      relativePath = NavManager.ToBaseRelativePath(NavManager.Uri).Split("#")[0];
  }

  [Parameter]
  public EventCallback<string> OnLinkClick { get; set;}

  private async Task HandleLinkClick(string data)
  {
    await OnLinkClick.InvokeAsync(data);
  }

}